@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

.atropos-banner {
  width: 100%;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1dc071 #13131a;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #13131a;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1dc071;
    border-radius: 10px;
    border: 4px solid #13131a;
  }
/* ===== Hide details scrollbar on campaign details page ===== */
#campaignDetailCol::-webkit-scrollbar {
  width: 14px;
}
#campaignDetailCol::-webkit-scrollbar-thumb {
  background-color: #28282E;
}
